* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    width: 100%;
    padding: 30px;
    background-color: #333;
    text-align: center;
    color: #fff;
}

table{
    width: 100%;
    margin: 20px auto;
}

thead {
    background-color: #333;
    color: #fff;
}

th, td{
    padding: 5px;
    text-align: left;
    /* border: 1px solid #f0f0f0; */
}

#idade {
    width: 50%;
}

tbody tr:nth-child(even) {
    background-color: #fff;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 30px;
    width: 100%;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
}

footer {
    color: #797979;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
